*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  background: #fff;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* ----------------Sidebar------------------- */

.sidebar {
  background: #242b2e;
}

/* ----------------Sidebar-header------------------- */

.header {
  background: #fff;
  margin-bottom: 22px;
}

.header-box-img {
  font-size: 0;
  text-align: center;
  padding:  32px 0 30px 0;
}

.logo {
  display: inline-block;
}

.nav-list {
  line-height: 32px;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  width: 100%;
  min-height: 62px;
  filter: drop-shadow(0.5px 0.866px 2px rgba(0,0,0,0.2));
  background: linear-gradient(to bottom, #333b3f, #2e363a );
  padding-right: 24px;
}

.nav-link:hover {
  background: linear-gradient(to bottom, #31bdbb, #18a3a1 );
}


/* ----------------Sidebar-filter------------------- */

.filter-block {
  font-size: 13px;
  color: #6b7072;
  font-weight: 300;
  padding-right: 24px;
  margin-bottom: 28px;
  text-align: right; 
  filter: drop-shadow(0.5px 0.866px 2px rgba(0,0,0,0.2));
  border-bottom: 1px solid #1e282b;
}

.filter-block__title {
  font-size: 19px;
  color: #1ab5b3;
  font-weight: 250;
  margin: 0;
  margin-bottom: 20px;
  background: url(../images/filter-icon.png) 100% no-repeat;
  padding-right: 29px;
}

form {
  padding-bottom: 25px;
}

.form-row {
  margin-bottom: 7px;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-row input {
  display:none;
}

.form-row label {
  cursor: pointer;
}

.form-row input:checked + label{
  color: #fff;
  text-transform: capitalize;
  
}

/* ----------------Sidebar-footer------------------- */


.footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 24px;
  padding-bottom: 50px;
}

.footer-icons {
  margin-bottom: 22px;
}

.footer__icon {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
  margin-right: 9px;
}

.footer__icon:nth-child(2) {
  background-position: -48px 0px;
}

.footer__icon:nth-child(3) {
  background-position: 0px -48px;
}

.footer__icon:nth-child(4) {
  background-position: -48px -24px;
}

.footer__icon:nth-child(5) {
  background-position: -24px 0px;
}

.footer__icon:nth-child(6) {
  background-position: 0px 0px;
}

.footer__icon:last-child {
  background-position: 0px -24px;
  margin-right: 0;
}

.footer__text {
  font-size: 12px;
  color: #6b7072;
  font-weight: 250;
  margin: 0;
}

/* ----------------content------------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-box {
  width: 100%;
  overflow: hidden;
}

.box-photo {
  position: relative;
  width: 100%;
}

.box-photo__img {
  display: block;
  width: 100%;
  height: auto;
}

.photo-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 184, 183, 0.9);
}

.animation-1 .photo-layer {
  transform: translateX(600px);
}

.animation-2 .photo-layer {
  transform: translate(600px, 600px);
  border-radius: 50%;
}

.animation-3 .photo-layer {
  transform: translate(-500px, 500px);
  background: rgba(88, 6, 68, 0.9);
}


.layer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer-inner__title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 4px;
}

.animation-1 .layer-inner__title {
  transform: translateY(500px);
}

.animation-2 .layer-inner__title {
  transform: translateX(-500px);
}

.animation-3 .layer-inner__title {
  transform: translateX(500px);
}

.layer-inner__text {
  font-size: 12px;
  margin: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transform: translateY(-500px);
}

.animation-1 .layer-inner__text {
  transform: translateY(-500px);
}

.animation-2 .layer-inner__text {
  transform: translateX(500px);
}

.animation-3 .layer-inner__text {
  transform: translateX(-500px);
}

.layer-inner__arrow {
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 15px;
  color: #fff;
  transform: translateY(-500px);
}

.animation-1 .layer-inner__arrow {
  transform: translateY(500px);
}

.animation-2 .layer-inner__arrow {
  transform: translateX(-500px);
}

.animation-3 .layer-inner__arrow {
  transform: translate(800px, -800px);
}

/* animation-1 */

.animation-1:hover .photo-layer {
  transform: translateX(0);
  transition: 1s;
}

.animation-1:hover .layer-inner__title {
  transform: translateY(0);
  transition: 2s;
}

.animation-1:hover .layer-inner__text {
  transform: translate(0);
  transition: 2s;
}

.animation-1:hover .layer-inner__arrow {
  transform: translateY(0);
  animation: pulsing 2s infinite;
  transition: 2.7s;
}

/* animation-2 */


.animation-2:hover .photo-layer {
  transform: translateX(0);
  border-radius: 0;
  transition: 2s;
}

.animation-2:hover .layer-inner__title {
  transform: translateY(0);
  transition: 3s;
}

.animation-2:hover .layer-inner__text {
  transform: translate(0);
  transition: 3s;
}

.animation-2:hover .layer-inner__arrow {
  transform: translate(0);
  transition: 3.5s;
}

/* animation-3 */

.animation-3:hover .photo-layer {
  transform: translateX(0);
  background: rgba(45, 184, 183, 0.9);
  transition: 2s;
}

.animation-3:hover .layer-inner__title {
  transform: translate(0);
  transition: 3s;
}

.animation-3:hover .layer-inner__text {
  transform: translate(0);
  transition: 3s;
}

.animation-3:hover .layer-inner__arrow {
  transform: translate(0);
  transition: 3.5s;
}


@keyframes pulsing {

0% {
  
    transform: scale(0)

}

50% {

    transform: scale(1.0, 1.0);

}

}